.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

#large-header {
    background-image: url('../img/background.jpg');
}


@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0px;
	border: 0;
}



h1 {
	color: #ccc;
	text-align: center;
	font-family: 'Vibur', cursive;
	font-size: 18px;
	width: 290px;
	height: 49px;
	display: block;
	background: url("../img/logo4.png") left no-repeat;
	text-indent: -9999px;
}

.login-form {
    position: absolute;
    color: #f9f1e9;
    text-align: center;
    top: 50%;
    left: 50%;
}

.login-form {
	opacity: 0.9;
	width: 350px;
	padding: 20px 30px 20px 30px;
	background-image:-webkit-linear-gradient(180deg, rgba(236, 208, 187,0.7), rgba(130, 130, 130, 0.5));
	background-image:linear-gradient(180deg,rgba(236, 208, 187,0.7),rgba(130, 130, 130, 0.5));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}


.form-group {
	position: relative;
	margin-bottom: 15px;
}

.form-control {
	width: 100%;
	height: 50px;
	padding: 5px 7px 5px 30px;
	background: #fff;
	color: #666;
	border: 2px solid #ddd;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 1em;
}

#username {
	background-image: url(../img/login-sprite.png);
	background-repeat: no-repeat;
	background-position: 5px -2px;
}

#password {
	background-image: url(../img/login-sprite.png);
	background-repeat: no-repeat;
	background-position: 5px -52px;
}

.form-control:focus {
	border-color: #10CE88;
	color: #10CE88;
}

.log-btn {
	background: rgba(10, 201, 134, 0.91);
	background-image:-webkit-linear-gradient(180deg, rgba(236, 208, 187,0.7),  rgba(10, 201, 134, 0.91));
	background-image:linear-gradient(180deg,rgba(236, 208, 187,0.7), rgba(10, 201, 134, 0.91));
	display: inline-block;
	width: 100%;
	font-size: 16px;
	height: 50px;
	color: #fff;
	text-decoration: none;
	border: none;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}

.alert {
	font-size: 18px;
	color: #f00;
	float: left;
	position: relative;
	height: 38px;
	display: block;
	text-align: center;
	width: 100%;
}

.fa {
	width: 25px;
	height: 30px;
	display: inline;
	z-index: 1;
	float: left;
	position: absolute;
	top: 9px;
	left: 3px;
}

.fa-error {
	background-image: url(../img/xv.png);
	background-repeat: no-repeat;
	background-position: 0px -30px;
}

.fa-right {
	background-image: url(../img/xv.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.error {
	color: red !important;
}
