*{
	margin:0;
	padding:0;
	list-style:none;
}
body{font-family:'MicroSoft Yahei'}

#rightButton{ 
	position:fixed;top:208px; 
	right:0; 
	z-index:999999; 
	display:block;
}

#right_ul{
	position: relative;
}
#right_qq{
	background:url(images/7_03.png) no-repeat;
	width: 68px;
	height:74px;
}
#right_tel{
	background:url(images/7_05.png) no-repeat; 
	width:68px; 
	height:77px; 
}
#right_tip{  
	background:url(images/flag_right.png) no-repeat; 
	width:252px; 
	height:91px; 
	position:absolute; 
	right:70px; 
	top:-10px; 
	display:none; 
	z-index:999999; 
}

.flagshow-p1{ 
	float:left; 
	margin-left:15px;
	font-size:18px; 
	line-height:91px;
}
.flagshow-p2{ 
	float:left; 
	margin-left:10px;
	font-size:18px;  
	color:#FA7C00;
	
}
.flagshow-p2 a{ 
	display:block; 
	margin: 20px 0 5px 12px; 
	line-height:0;}
.flagshow-p2 span{
 	margin: 0 0 0 14px; 
}
.flag-qq{
	display:none;
}
.line91{
	line-height:91px;
}
#toTop{
	z-index: 9999999;
	display: none;
}
a.totop{
	background:url(images/7_11.png) no-repeat;
	width:68px;
	height:79px;
	display: block;
}
a.totop:active{  background:url(images/7_11.png) no-repeat; }